:root {
  --color-gray: #282828;
  --color-white: #FFF;
  --color-black: #000;
}
body {
  background: var(--color-gray);
  color: #FFF;
  padding: 2em;
}

.account-card {
  padding: 0;
}

.account-card--title {
  padding: 0;
}

.account-card .card-title {
  margin: 0 0 1em 0;
}
