<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="manifest" href="/static/site.webmanifest">
    {{{ meta.inject().title.text() }}}
    {{{ meta.inject().meta.text() }}}
    {{{ !isProduction ? '' : renderResourceHints() }}}
    {{{ renderStyles() }}}
  </head>
  <body>
    <div id="app"><!--vue-ssr-outlet--></div>
    {{{ renderState() }}}
    {{{ renderScripts() }}}
  </body>
</html>
